<html>
<head>
  <title>T-Schedule</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css" rel="stylesheet">

  <script src="https://use.fontawesome.com/190e87c6e2.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

  <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.0.3/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.4.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.4.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.4.0/firebase-database.js"></script>

  <script>
    var config = {
      apiKey: "AIzaSyBI42nd8krKQuOxMvRaGYLy0IbgdVRhnrs",
      authDomain: "helloworld-73694.firebaseapp.com",
      databaseURL: "https://helloworld-73694.firebaseio.com",
      storageBucket: "helloworld-73694.appspot.com",
      messagingSenderId: "72134407615"
    };
    firebase.initializeApp(config);
  </script>

  <script>
      var auth = firebase.auth();
      auth.onAuthStateChanged(function(user) {
        if (!user) {
            window.location.href = "/";
        }
      });
  </script>
  <script src="javascripts/angularSchedule.js"></script>
</head>

<body ng-app="tschedule" ng-controller="ScheduleCtrl">
    <div class="text-center">
        <div class="page-header" style="margin: 0px; background: #00254c;">
            <br />
            <h1 style="margin-top: 0px;">
                <a href="/"><font color="#eeb211">T-Schedule</font></a>
            </h1>
        </div>
    </div>

    <ul class="nav nav-pills centered test">
      <li role="presentation"><a href="/user">Profile</a></li>
      <li role="presentation" class="active"><a href="#">Schedule</a></li>
      <li role="presentation"><a href="/forum">Forums</a></li>
      <li role="presentation"><a href="#" ng-click="signout()">Sign out</a></li>
    </ul>
    <br />
    <div class="row">
        <div class="col-md-7">
            <table border="1" style="table-layout: fixed">
                <th></th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th><th>Saturday</th><th>Sunday</th>
                <tr>
                    <td width="9%">
                        <table border="1" style="width: 100%">
                            <tbody ng-repeat="i in ['08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22']">
                                <tr>
                                    <td style="height: 22px">{{i}}:00</td>
                                </tr>
                                <tr>
                                    <td style="height:22px">{{i}}:30</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td ng-repeat="col in tableCols" width="13%">
                        <table border="1" style="table-layout: fixed; width: 100%;">
                            <tbody ng-repeat="row in col">
                                <tr ng-if="!row.hasData" ng-repeat="i in range(row.rowspan) track by $index">
                                    <td style="height: 22px">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr ng-if="row.hasData" style="height: 22px">
                                    <td rowspan="{{row.rowspan}}" bgColor="#00ff00" style="height:{{row.rowspan * 22}}px;">
                                        <div ng-if="row.rowspan === 2" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                            <small>{{row.name}}<br />{{row.location}}</small>
                                        </div>
                                        <div ng-if="row.rowspan === 3">
                                            <div ng-if="row.location.length > 12" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                <small>{{row.name}}<br />{{row.location.substring(0, 12)}}-<br />{{row.location.substring(12)}}</small>
                                            </div>
                                            <small ng-if="row.location.length <= 10">{{row.name}} <br />{{row.location}}</small>
                                        </div>
                                        <div ng-if="row.rowspan >= 4">
                                            <small>{{row.name}}<br />{{row.location}}</small>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-5">
            <div ng-show="!schedule.length">
                <div class="alert alert-shrink alert-info" role="alert">No classes picked yet!</div>
            </div>
            <div ng-repeat="course in schedule" ng-controller="CourseListCtrl" class="row">
                <div class="col-md-10 well">
                    <div class = "row">
                        <div class="col-md-11">
                            <a href="" ng-click="dropIt = !dropIt">
                                <span ng-show="dropIt">▲</span>
                                <span ng-hide="dropIt">▼</span>
                                {{course.school}} {{course.number}} {{courseName}} <span ng-hide="course.section === ''">- : {{course.section}}</span>
                            </a>
                        </div>
                        <div class="col-md-1">
                            <a href="" ng-click="delete(course)">x</a>
                        </div>
                    </div>
                    <table ng-show="dropIt" class="table table-condensed table-hover">
                      <tbody>
                        <tr ng-repeat="section in courseSections">
                          <td><input type="radio" ng-model="selectedSection.val" ng-value="section.section_id" ng-change="updateSection()"></td>
                          <td>
                              <small>
                                  {{section.section_id}}
                                  | <span ng-repeat="instructor in section.instructors">{{instructor}}{{$last ? '' : ', '}}<span ng-show="!instructor.length">Instructor TBD</span></span>
                                  | CRN: {{section.crn}} <br />
                                  <span ng-repeat="meeting in section.meetings">
                                      {{meeting.days}} | {{meeting.time}} | {{meeting.location}} <br />
                                  </span>
                              </small>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
            <br />
            <div>
                <select ng-model="school" ng-options="x for x in schools | orderBy: x" ng-change="updateNumbers(school)">
                    <option value="" disabled selected>Select a Major/School</option>
                </select>
            </div>
            <div ng-show="school && !numbers">
                <select ng-model="temp" ng-options="x for x in ['Loading...']">
                    <option value="" disabled selected>Select Course Number</option>
                </select>
            </div>
            <div ng-show="school && numbers">
                <select ng-model="number" ng-change="addToSchedule()" ng-options="x for x in numbers | orderBy: x | filter: greaterThan('length', 3)">
                    <option value="" disabled selected>Select Course Number</option>
                </select>
            </div>
        </div>
    </div>


    <div class="text-center">
        <br/>
        <hr />
        <p>
            T-Schedule is an online scheduling helper that aims to make life easier for Georgia Tech students! <a href="/contact">Contact us!</a>
        </p>
    </div>
</body>
</html>
